.form-container {
  height: calc(100vh - 90.5px);
  display: grid;
  place-items: center;
}
.form-group {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 3px 3px 5px #0000002c;
}

.form-body {
  margin-top: 1rem;
  padding: 1rem;
}
.form-group h2,
p {
  text-align: center;
}

.input-group {
  margin-bottom: 1rem;
}

.form-label,
.form-control {
  display: block;
  width: 100%;
  margin-bottom: 0.3rem;
}
.form-control {
  padding: 0.6em;
  border-radius: 0.8rem;
  border: 1px solid #c7c7c7;
}
.form-control:focus {
  outline: 1px solid #707070;
}

.form-body .btn-primary {
  background-color: #cb992e;
}

.form-body .btn-block {
  width: 100%;
  margin-top: 0.8rem;
}
