.post-container {
  width: 80%;
  margin: 0 auto;
}

.post-card {
  padding: 0 3rem;
}

@media screen and (max-width: 1200px) {
  .post-card {
    padding: 0 0.3rem;
  }
}

.post-img {
  width: 200px;
}
.post-img img {
  width: 100%;
}

.post-card .content > div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .post-card .content > div {
    display: block;
  }
}

.post-card h2 {
  text-align: center;
  font-size: 40px;
  padding: 2rem 0;
}

.post-card h3 {
  font-size: 25px;
  font-weight: 500;
  color: rgb(67, 53, 142);
  margin-bottom: 0.4rem;
}

.post-card p {
  font-size: 20px;
  color: #333;
  margin: 2rem 0;
  text-align: justify;
}

.post-card .post-links {
  position: relative;
  width: 100%;
  /* bottom: 20px; */
  right: 0;
}
.post-links ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.post-links ul li {
  text-transform: uppercase;
  margin: 1rem 0;
}

.post-card .post-links::before {
  content: "";
  border-top: 2px solid #ddd;
  width: 100%;
  position: absolute;
}
