/* .card {
  display: flex;
  margin: 1rem 0;
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.7);
}

.card .img-container {
  height: 300px;
  width: 45%;
}

.card .img-container img {
  height: 100%;
  width: 100%;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}
.card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem 1rem;
  height: 300px;
}

@media screen and (max-width: 1800px) {
  .card .details {
    flex: 1;
    height: 300px;
  }
}
.card .details .info {
  height: 80%;
  overflow: hidden;
}
.card .details h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card .details p {
  text-align: start;
}

@media screen and (max-width: 832px) {
  .book-links {
    display: none;
  }
}
.book-links ul {
  list-style: none;
  text-align: end;
}

.book-links li {
  text-decoration: none;
  display: inline-block;
  width: auto;
  margin-right: 0.48rem;
  cursor: pointer;
}

.book-links .btn,
.book-links .not,
.book-links .active {
  padding: 0.3rem 1rem;
  border-radius: 0.8rem;
}

.book-links .btn-secondary {
  background-color: #272e71;
  color: #fff;
}

.book-links .btn-dark {
  background-color: #ddd;
}
.book-links .active {
  background-color: green;
  color: #fff;
}

.book-links .not {
  background: red;
} */
